.navBar {
  background-color: #639ebc;
  width: 100vw;
  padding: 2px;
  font-size: 20px;
}

.navBar ul {
  display: flex;
  justify-content: right;
  list-style-type: none;
}

.navBar ul li a {
  margin-right: 1em;
  text-decoration: none;
  color: #eeeeee;
}

.navBar ul li a:hover {
  color: burlywood;
}

h3 {
  border: solid black;
  background-color: rgb(44, 120, 233);
  border-width: 1px;
  border-radius: 4px;
  justify-items: center;
  width: 3em;
  margin: auto;
  margin-top: 5px;
  font-weight: normal;
  text-align: center;
}

.loginForm {
  width: 100vw;
}

form {
  display: grid;
  margin-top: 30px;
  justify-content: center;
  font-size: medium;
  text-align: center;
}

.loginForm form input {
  text-align: center;
}
