.navBar {
  background-color: #639ebc;
  color: white;
  width: 100vw;
  padding: 2px;
  font-size: 20px;
}

nav ul {
  display: flex;
  justify-content: right;
}

nav ul li {
  list-style-type: none;
  margin-right: 1em;
}

nav ul li:hover {
  color: burlywood;
}

h3 {
  border: solid black;
  background-color: rgb(44, 120, 233);
  border-width: 1px;
  border-radius: 4px;
  justify-items: center;
  width: 3em;
  margin: auto;
  margin-top: 5px;
  font-weight: normal;
  text-align: center;
}

.loginForm {
  width: 100vw;
}

form {
  display: grid;
  margin-top: 10px;
  justify-content: center;
  font-size: medium;
}
